body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
  color: #333;
}
header {
  text-align: center;
  margin-bottom: 50px;
}
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

header h2 {
  margin-bottom: 3px; /* default is usually much larger */
}

header p {
  margin-top: 0;
}
section {
  margin-bottom: 40px;
}
a {
  color: #007acc;
  text-decoration: none;
}